<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Great Travel</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    
    <nav id="navigation">
    
          <ul class="nav-items">
              <li><a href="/">Home</a></li>
              <li><a href="about">About</a></li>     
              <li><a href="gallery">Gallery</a></li>
            </ul>
      </nav>

      <section id="section-galery">

      
    <h2 class="gallery-title">Gallery</h2>
    <div id="line"></div>
    <div class="image-container">
      <figure>
        <img class="image image-1" src="/css/images/hero-3.jpg" alt="Beach in Maledives" />
        <figcaption>Beach in Maledives</figcaption>
      </figure>
      <figure>
        <img class="image image-2" src="/css/images/gallery-img-1.jpg" alt="Tegalageng Bali" />
        <figcaption>Tegalageng Bali</figcaption>
      </figure>
      <figure>
        <img class="image image-3" src="/css/images/gallery-img-3.jpg" alt="Temple in Chine" />
        <figcaption>Temple in Chine</figcaption>
      </figure>
      <figure>
        <img class="image image-4" src="/css/images/gallery-img-4.jpg" alt="Chinatown in Bangkok" />
        <figcaption>Chinatown in Bangkok</figcaption>
      </figure>
      <figure>
        <img class="image image-5" src="/css/images/gallery-img-5.jpg" alt="Maya Bay Koh Pi Pi" />
        <figcaption>Maya Bay Koh Pi Pi</figcaption>
      </figure>
      <figure>
        <img class="image image-6" src="/css/images/gallery-img-6.jpg" alt="Krabi Thailand" />
        <figcaption>Krabi Thailand</figcaption>
      </figure>
      <figure>
        <img class="image image-7" src="/css/images/gallery-img-7.jpg" alt="Forbidden City in China" />
        <figcaption>Forbidden City in China</figcaption>
      </figure>
      <figure>
        <img class="image image-8" src="/css/images/gallery-img-8.jpg" alt="Great Wall of China" />
        <figcaption>Great Wall of China</figcaption>
      </figure>
      <figure>
        <img class="image image-9" src="/css/images/gallery-img-9.jpg" alt="Temple in Bali" />
        <figcaption>Temple in Bali</figcaption>
      </figure>
    </div>
  </section>
</body>
</html>